body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    /*text-align: center; */
  }
  title {
    margin: auto;
    text-align: center;
  }
  ol, ul {
    padding-left: 30px;
  }
  button {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 5%;
    padding: 1%;
    width:min-content;
    height:auto;
    background-color: aliceblue;
  }
  .freq_slider {
    width: 100%;
  }
  .slider {
    width: 100%;
    height: 25px;
    outline:none;
    -webkit-appearance:none;
    opacity: 0.8;
    transition: opacity .5s;
  }
  .slider:hover{
    opacity: 1;
    background-color:antiquewhite;
  }
  .seqStep {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: rgb(115, 213, 226);
    opacity: 0.7;
    transition: opacity .8s;
    transition: background-color .3s;
  }
  .seqStep:hover{
    opacity: 1;
    background-color: crimson;
  }
  span {
    height:max-content;
    width:min-content;
  }
  div {
    margin:auto;
    padding: 2%;
    text-align: center;
  }
  .mainDiv {
    margin:2%;
    width:max-content;
    height:min-content;
    padding: 2%;
    border-radius: 2%;
    background-color: plum;
    box-shadow: 5px 5px 5px 5px grey;
  }
  .inlineDiv {
    background-color: aquamarine;
  }
  /*
  div:hover {
    background-color: aliceblue;
    transition: background-color .5s+;
  }
  */

  .key {

  }
  
  